.catalogo-container {
  padding: 45px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 👈 4 columnas */
  gap: 2rem;
  justify-items: center;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 0 2rem;
}

.producto-card {
  width: 100%; /* se adapta automáticamente al grid */
  max-width: 250px; /* 👈 controla el tamaño de cada tarjeta */
  height: 500px;
  border: 4px solid #95c6e3;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #e6f4fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}


.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(12, 15, 192, 0.856);
}

.producto-card img {
  width: 240px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.producto-card h4 {
  margin: 10px 0 5px;
  color: #4805ff;
}

.producto-card p {
  margin: 5px 0;
  color: #011407;
}

.producto-card label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #4805ff;
}

.producto-card select {
  width: 90%;
  height: 32px;
  padding: 8px;
  margin-top: 3px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #e7f3fa;
  cursor:default;
}

.producto-card button {
  margin-top: 15px;
  font-weight: bolder;
  width: 100%;
  height: 32px;
  padding: 10px 12px;
  background-color: #1a8fe2;
  color: rgb(15, 12, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.0rem;
}

.producto-card button:hover {
  background-color: #005fa3;
}

.buscador {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-right: 67px;
}

.buscador-input {
  position: relative;
  width: 300px;
}

.buscador-input input {
  width: 100%;
  padding: 15px 15px 15px 35px;
  font-size: 1rem;
  border: 4px solid #005fa3;
  border-radius: 5px;
}

.icono-lupa {
  position: absolute;
  top: 30%;
  left: 10px;
  color: #005fa3;
  
}
