.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077cc;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgb(19, 144, 202);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-logo img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10%;
}

.navbar-logo span {
  font-size: 1.9rem;
  font-weight: bold;
}

.navbar-icons a {
  margin-left: 1.9rem;
  color: white;
  font-size: 1.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.navbar-icons a:hover {
  color: #010e0b;
}
